<h2>Create A New Discount</h2>
<%= form_with model: @discount, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :percent %>
  <%= f.text_field :percent %>

  <%= f.label :num_of_items1 %>
  <%= f.text_field :num_of_items %>

  <%= f.submit 'Create Discount' %>
<% end %>
